<%- include layouts/header.ejs %>
     <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
          <div class="header">
            <h2>View <strong>Subcategory</strong> </h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">             
                <li class="active">View Subcategory</li>
              </ol>
            </div>
          </div>
          <div class="row">        
            <div class="col-md-6">
              <div class="panel panel-default no-bd">
                <div class="panel-header bg-dark">
                  <h3 class="panel-title"><strong><%=data.name%> </h3>
                </div>
                <div class="panel-body bg-white">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                     <!--  <form role="form" class="form-validation" action="" method="post" enctype="multipart/form-data"> -->
                  
                            <div class="form-group">
                              <!-- <label class="control-label"> Synonym </label>
                              <div>
                              <%# use = instead of # %>
                                <%- data.synonym %>  
                              </div> -->
                            </div>
                            <div class="form-group">
                            <!--   <label class="control-label">Subcategory Content</label> -->
                              <div class="append-icon" style="font-weight:normal;">
                                <%- data.ghost_json_data[0].html %>
                              </div>
                            </div>
                        
                  </div>
                </div>
              </div>
            </div>
             </div>
             <div class="col-md-6">
              <div class="panel panel-default no-bd">
                <div class="panel-header bg-dark">
                  <h3 class="panel-title"><strong>Bookmarks</h3>
                </div>
                <div class="panel-body bg-white">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                 
                           
                  </div>
                </div>
              </div>
            </div>
             </div>
              </div>
            
          <%- include layouts/footer.ejs %>
        </div>
        <!-- END PAGE CONTENT -->
      <%- include layouts/js.ejs %>
     </body>
</html>
<script type="text/javascript">
$('h4').css('font-weight', 'bold');
$('ul').css('margin-left', '17px');
</script>