<%- include layouts/header.ejs %>
     <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
          <div class="header">
            <h2>View <strong>Hospital</strong></h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">             
                <li><a href="#">Hospital</a>
                </li>
                <li class="active">View Hospital</li>
              </ol>
            </div>
          </div>
          <div class="row">        
            <div class="col-md-12">
              <div class="panel panel-default no-bd">
                <div class="panel-header bg-dark">
                  <h3 class="panel-title"><strong>View</strong> Particular Details</h3>
                </div>
                <div class="panel-body bg-white">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <form role="form" class="form-validation" action="blogs_update" method="post" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="control-label">Hospital Name</label>
                              <div>
                                <%- data.hospital_name %>  
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label">Hospital Email</label>
                              <div class="append-icon">
                                <%- data.hospital_email %>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label">Hospital Timing</label>
                              <div class="append-icon">
                                <%- data.hospital_timing %>  
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label">Hospital Phone</label>
                              <div class="append-icon">
                                <%- data.hospital_phone %>  
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label">Hospital Specialities</label>
                              <div class="append-icon">
                                <%- data.hospital_specialities %>  
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label">About Hospital </label>
                              <div class="append-icon">
                                <%- data.about_hospital %>  
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label">Hospital Address </label>
                              <div class="append-icon">
                                <%- data.hospital_address %>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="control-label">Hospital Logo</label>
                              <div>
                                <% if(data.hospital_logo==''){ %>
                                  <img src="<%- globalConsTant.baseUrl + globalConsTant.imageUrl %>hospital_logos/default.png" height="400" width="400">
                                <% }else{ %>
                                  <img src="<%- globalConsTant.baseUrl + globalConsTant.imageUrl %>hospital_logos/<%- data.hospital_logo %>" height="400" width="400">
                                <%}%>
                              
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="text-center  m-t-20">
                          <button type="submit" class="btn btn-embossed btn-primary">Submit</button>
                          <button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Cancel</button>
                        </div> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>    
          <%- include layouts/footer.ejs %>
        </div>
        <!-- END PAGE CONTENT -->
      <%- include layouts/js.ejs %>
     </body>
</html>